################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CppProperties.json
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/65714d3d9100342d/MAIN2.ipch
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/791a7647c045555f/MAIN.ipch
/ProgSol/.vs/ProgSol/v15/Solution.VC.db-wal
/ProgSol/.vs/ProgSol/v15/Solution.VC.db-shm
/ProgSol/.vs/ProgSol/v15/Solution.VC.db
/ProgSol/.vs/ProgSol/v15/Browse.VC.opendb
/ProgSol/.vs/ProgSol/v15/Browse.VC.db
/ProgSol/.vs/ProgSol/v15/.suo
/ProgSol/Debug/ProgSol.tlog/unsuccessfulbuild
/ProgSol/Debug/ProgSol.tlog/ProgSol.lastbuildstate
/ProgSol/Debug/ProgSol.tlog/CL.command.1.tlog
/ProgSol/Debug/vc141.pdb
/ProgSol/Debug/vc141.idb
/ProgSol/Debug/ProgSol.log
/ProgSol/Debug/ProgSol.Build.CppClean.log
/ProgSol/ProgSol.vcxproj.user
/ProgSol/ProgSol.vcxproj.filters
/ProgSol/ProgSol.vcxproj
/ProgSol/ProgSol.sln
/DumbDec/Debug/DumbDec.log
/DumbDec/Debug/DumbDec.tlog/unsuccessfulbuild
/DumbDec/DumbDec.vcxproj.user
/DumbDec/DumbDec.vcxproj.filters
/DumbDec/DumbDec.vcxproj
/ProgSol/Debug/ProgSol.tlog/link.write.1.tlog
/ProgSol/Debug/ProgSol.tlog/link.read.1.tlog
/ProgSol/Debug/ProgSol.tlog/link.command.1.tlog
/ProgSol/Debug/ProgSol.tlog/CL.write.1.tlog
/ProgSol/Debug/ProgSol.tlog/CL.read.1.tlog
/ProgSol/Debug/testfile.txt
/ProgSol/Debug/ProgSol.pdb
/ProgSol/Debug/ProgSol.ilk
/ProgSol/Debug/ProgSol.exe
/ProgSol/Debug/main.obj
/ProgSol/testfile.txt
/ProgSol/test_comp_file.sp
/DumbDec/Debug/DumbDec.tlog/link.write.1.tlog
/DumbDec/Debug/DumbDec.tlog/link.read.1.tlog
/DumbDec/Debug/DumbDec.tlog/link.command.1.tlog
/DumbDec/Debug/DumbDec.tlog/DumbDec.lastbuildstate
/DumbDec/Debug/DumbDec.tlog/CL.write.1.tlog
/DumbDec/Debug/DumbDec.tlog/CL.read.1.tlog
/DumbDec/Debug/DumbDec.tlog/CL.command.1.tlog
/DumbDec/Debug/vc141.pdb
/DumbDec/Debug/vc141.idb
/DumbDec/Debug/main2.obj
/DumbDec/Debug/DumbDec.Build.CppClean.log
/DumbDec/test_comp_file.sp
/DumbDec/Release/vc141.pdb
/DumbDec/Release/main2.obj
/DumbDec/Release/DumbDec.tlog/link.write.1.tlog
/DumbDec/Release/DumbDec.tlog/link.read.1.tlog
/DumbDec/Release/DumbDec.tlog/link.command.1.tlog
/DumbDec/Release/DumbDec.tlog/DumbDec.write.1u.tlog
/DumbDec/Release/DumbDec.tlog/DumbDec.lastbuildstate
/DumbDec/Release/DumbDec.tlog/CL.write.1.tlog
/DumbDec/Release/DumbDec.tlog/CL.read.1.tlog
/DumbDec/Release/DumbDec.tlog/CL.command.1.tlog
/DumbDec/Release/DumbDec.log
/DumbDec/arrrrrrrgh.txt
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/146e6ad1b51ba3ad/MAIN2.ipch
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/1896638debbe7c1/HUFF_N_WRITE.ipch
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/361c587beba01c61
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/ecc26f7a2008ecd
/ProgSol/Debug
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/e4591d5e83a057bf/MAIN.ipch
/ProgSol/Release/ProgSol.tlog
/ProgSol/Release
*.ipch
