################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CppProperties.json
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/65714d3d9100342d/MAIN2.ipch
/ProgSol/.vs/ProgSol/v15/ipch/AutoPCH/791a7647c045555f/MAIN.ipch
/ProgSol/.vs/ProgSol/v15/Solution.VC.db-wal
/ProgSol/.vs/ProgSol/v15/Solution.VC.db-shm
/ProgSol/.vs/ProgSol/v15/Solution.VC.db
/ProgSol/.vs/ProgSol/v15/Browse.VC.opendb
/ProgSol/.vs/ProgSol/v15/Browse.VC.db
/ProgSol/.vs/ProgSol/v15/.suo
/ProgSol/Debug/ProgSol.tlog/unsuccessfulbuild
/ProgSol/Debug/ProgSol.tlog/ProgSol.lastbuildstate
/ProgSol/Debug/ProgSol.tlog/CL.command.1.tlog
/ProgSol/Debug/vc141.pdb
/ProgSol/Debug/vc141.idb
/ProgSol/Debug/ProgSol.log
/ProgSol/Debug/ProgSol.Build.CppClean.log
/ProgSol/ProgSol.vcxproj.user
/ProgSol/ProgSol.vcxproj.filters
/ProgSol/ProgSol.vcxproj
/ProgSol/ProgSol.sln
/DumbDec/Debug/DumbDec.log
/DumbDec/Debug/DumbDec.tlog/unsuccessfulbuild
/DumbDec/DumbDec.vcxproj.user
/DumbDec/DumbDec.vcxproj.filters
/DumbDec/DumbDec.vcxproj
